<div class="pickup-drop-container">
    <h2 class="pickup-drop-head text-white">
        World Class<br>
        DRY CLEAN & LAUNDRY<br>
        service NOW IN GREATER NOIDA
    </h2><br>
    <span>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
            Free Pickup and Drop
          </button>
    </span>
    <!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Book Your Slot</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <form [formGroup]="pickupDrop" (ngSubmit)="onSubmit()">
            <label>Enter Your Name:</label>
            <input type="text" id="name" formControlName="name"><br><br>
            <span></span>
            <label>Enter Your Mobile:</label>
            <input type="phone" id="phone" formControlName="phone"><br><br>
            <span></span>
            <label>Services:</label>
            <select id="selectedService" formControlName="selectedService">
               <option value="" disabled selected>Choose Services</option>
               <option *ngFor="let service of services" [value]="service">{{service}}</option>
            </select><br><br>
            <div >
                <mat-form-field>
                    <mat-label *ngIf="!pickupDrop.get('selectedDate')?.value">Select a date:</mat-label>
                    <input formControlName="selectedDate" matInput [matDatepicker]="picker" (dateChange)="onDateSelected($event)">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div><br><br>
            <label>Time Slot:</label>
            <select id="selectedTimeSlot" formControlName="selectedTimeSlot">
                <option value="" disabled selected>Choose Time slot</option>
                <option *ngFor="let slot of timeSlots" [value]="slot">{{slot}}</option>
             </select><br><br>
             <span id="timeSlot"></span><br>
             <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!pickupDrop.valid">Submit</button>
            
          </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>  
      </div>
    </div>
  </div>
  
    <span>
        <button type="button" class="btn btn-primary" (click)="callNow()">Call Now</button>
    </span>
</div>
<div class="container-fluid">
<div class="row about-us">
  <div class="col-md-6 content-image">
    <div class="experience-container">
            <h2 class="top-text"><strong>10+</strong></h2>
            <h3 class="bottom-text">Years Experience</h3>
    </div>

    <div class="gallery1"></div>
    <div class="gallery2"></div>
  </div>

  <div class="col-md-6 content text">
        <div class="about-us-content">
          <h1>About Us</h1>
          <h1>To Provide On Time Delivery & Best Quality Laundry Services</h1>
          <p>GrenoCleaners: Your trusted partner for impeccable garment care. We specialize in delivering pristine cleanliness and quality for your clothing. Experience professional dry cleaning that pampers your fabrics and enhances their lifespan. Refresh, renew, and rediscover your wardrobe with GrenoCleaners.</p>
        </div>
        <div class="about-us-content">
          <h1>We Can Help You</h1>
          <ul class="list-group">
            <li class="list-group-item">
              <i class="fas fa-check-circle check-icon"></i>Household Laundry Service
            </li>
            <li class="list-group-item">
              <i class="fas fa-check-circle check-icon"></i>Corporate Laundry Service
            </li>
            <li class="list-group-item">
              <i class="fas fa-check-circle check-icon"></i>All Ladies & Gents Item
            </li>
            <li class="list-group-item">
              <i class="fas fa-check-circle check-icon"></i>Hotel & Hospital Table Cloth
            </li>
          </ul>
          <!-- <button class="bg call-now p-2 text-white">Call Now</button> -->
        </div>
    
  </div>

</div>
<div class="row mobile-view">
  <div class="galleryx"></div>
  <div class="galleryy"></div>
</div>
</div>

