<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 full-height">
            <div id="demo" class="carousel slide h-100" data-bs-ride="carousel">

                <!-- Indicators/dots -->
                <div class="carousel-indicators">
                  <button *ngFor="let rating of ratings; let i = index" type="button" [attr.data-bs-target]="'#demo'" [attr.data-bs-slide-to]="i" [class.active]="i === 0"></button>
                </div>
                <!-- The slideshow/carousel -->
                <div class="carousel-inner h-100">
                    <div class="carousel-item h-100" *ngFor="let rating of ratings; let i = index" [class.active]="i === 0">
                        <div class="card h-100">
                          <h2 class="card-title">Customer Rating Overview from {{totalNumberOfRating}} Ratings.</h2>
                              <div class="stars">
                                <span *ngFor="let star of getStars(overAllRating)" class="star">&#9733;</span>
                              </div>
                            <div class="card-body d-flex flex-column justify-content-center">
                                <h5 class="card-title">{{rating.user_name|titlecase}}</h5>
                                <p class="card-text">{{rating.message}}</p>
                                <div class="stars">
                                    <span *ngFor="let star of getStars(rating.rating)" class="star">&#9733;</span>
                                </div>
                                <!-- <button class="btn btn-success rate-us mt-3 ml-5 card-text">Rate Us</button> -->

                            </div>
                        </div>
                    </div>
                </div>
              
                <!-- Left and right controls/icons -->
                <button class="carousel-control-prev " type="button" data-bs-target="#demo" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon bg-success"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                  <span class="carousel-control-next-icon bg-success"></span>
                </button>
            </div>
        </div>
        <div class="col-sm-6">
            <form [formGroup]="ratingForm" (ngSubmit)="submitRating()">
                <div class="mb-3">
                  <label for="userName" class="form-label">Enter your Name</label>
                  <input type="text" id="userName" formControlName="userName" class="form-control">
                </div>
                
                <div class="mb-3">
                  <label for="userRating" class="form-label">Rating</label>
                  <span class="star-rating p-3" id="userRating">
                    <i class="fa fa-star" *ngFor="let star of [1,2,3,4,5]; let i = index" 
                       [class.filled]="i < ratingForm.controls['userRating'].value" 
                       (click)="setRating(i + 1)">
                    </i>
                  </span>
                </div>
                
                <div class="mb-2">
                  <label for="userFeedback" class="form-label">Kindly provide your feedback</label>
                  <textarea id="userFeedback" formControlName="userFeedback" class="form-control" rows="3" (input)="handleFeedbackInput($event)"></textarea>
                  <small class="form-text text-muted" *ngIf="ratingForm.controls['userFeedback'].value!==null">{{ratingForm.controls['userFeedback'].value.length}} / {{maxFeedbackLength}} characters</small>
                </div>
                
                <button type="submit" class="btn btn-success " class="rate-us text-white">Rate Us</button>
              </form>
              
        </div>
    </div>
</div>


