.row{
    height:300px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.full-height {
    height: 100%; /* Full viewport height */
}
.carousel-item{
    text-align: center;
}


.carousel-inner, .carousel-item, .card {
    height: 100%;
}
.carousel-indicators{
    background-color: green;
}
.stars {
    color: #FFD700; /* Set star color */
  }
  
.star{
    font-size: 30px; /* Set star size */
}

.star-rating .fa-star {
    cursor: pointer;
    color: #d3d3d3;
    font-size: 30px;
    /* default color */
}

.star-rating .fa-star.filled {
    color: #ffd700;
    /* filled star color */
}

@media (max-width:768px) {
    .container-fluid{
        margin-bottom: 350px;
    }
    .rate-us{
        width: 100px;
        height: 40px;
        margin-left: 40%;
        color: bg-success;
        border: 2px solid green;
        border-radius: 20%;
        background-color: green;
    }
    
}
  
