.page-link{
    cursor: pointer;
}
.form-control{
    max-width:150px;
}
.input-group{
    margin-left: 80%;
    
}

@media (max-width:768px) {
    .input-group{
        margin-left: 30%;
    }
}
.container{
    overflow-x: hidden;
}
.pricing-head{
    background-image: url('../../assets/images/discount.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-top: 15%;
}
.container-fluid{
    position: relative;
    margin-top: 0 auto;

}
