.nav-link{
    color: black;

}
.nav-link:hover{
    cursor: pointer;
    color: white;
}
.container-fluid{
    height: 100px;
}
.nav-item .nav-link.active {
    color: white; /* or any other style you want */
    /* optional: background color for active link */
    font-weight: bold; /* optional: make text bold */
  }

.navbar{
    margin: 0;
    padding: 0;
}
.navbar-brand{
    display: none;
}

@media (max-width:768px) {
    .navbar-brand{
        display: block;
    }
    .container{
        background-color:cadetblue;
    }
   
}

