.nav-link{
    color: black;

}
.nav-link:hover{
    cursor: pointer;
    color: white;
}
.container{
    background-color: cadetblue;
}
.nav-item .nav-link.active {
    color: white; /* or any other style you want */
    /* optional: background color for active link */
    font-weight: bold; /* optional: make text bold */
  }

.navbar{
    margin: 0;
    padding: 0;
    background-color: cadetblue;
    height: 100px;

}
/* .navbar-brand{
    display: none;
} */
@media (min-width: 992px) {
    .navbar-nav {
      margin-left: 0;
    }
    .navbar-brand-center {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

/* @media (max-width:572px) {
    .navbar-brand{
        display: block;
    }
    .container{
        background-color:cadetblue;
    }
   
} */

