<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">

    <!-- Toggler button for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand logo -->
    <a class="navbar-brand" href="javascript:void(0)">
      <img src="../assets/images/Greno Cleaners_transparent.png" style="height:50px" alt="Brand Logo">
    </a>
    
   
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['']" data-bs-toggle="collapse" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="moveToTop($event)">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0);" data-bs-toggle="collapse" (click)="scrollToOurServices($event)"  routerLinkActive="active">Our Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" href="javascript:void(0);" (click)="scrollToContactUs($event)" id="contact" data-bs-toggle="collapse">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/pricing']" data-bs-toggle="collapse" routerLinkActive="active"(click)="pricing()">Pricing</a>
        </li>
      </ul>
    </div>
    <div class="contact-header">
      <h2>24✘7 Service</h2>
      <span (click)="callUs()" class="call"><i class="fa-solid fa-phone"></i> {{contact.NUMBER}}</span>
    </div>
  </div>
</nav>
