<nav class="navbar navbar-expand-sm navbar-dark d-lg-block d-md-none">
  <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
       data-bs-target="#n_bar" aria-controls="navbarNavAltMarkup" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="n_bar" >
          <ul class="navbar-nav ml-auto">
              <li class="nav-item active"><a class="nav-link" [routerLink]="['']">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="javascript:void(0);" (click)="scrollToOurServices()" >Our Services</a></li>
              <li class="nav-item"><a class="nav-link" href="javascript:void(0);" (click)="scrollToContactUs()" id="contact">Contact Us</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/pricing']">Pricing</a></li>
          </ul>
      </div>
  </div>
</nav>