
<section id="header">
    <app-header
     (contactUsClicked)="scrollToContactUs()" 
     (ourServicesClicked)="scrollToOurServices()"
     ></app-header>
</section>
<section id="pickup-drop">
   <app-pickup-drop></app-pickup-drop>
</section>
<section id="our-services">
    <app-our-services ></app-our-services>
</section>
<section id="contact-us">
    <app-about-us></app-about-us>
</section>
<button  class="btn btn-primary" id="sideBtn" (click)="showContactBtn()"><i class="fa-solid fa-arrow-left"></i></button>
<button class="btn btn-primary" id="contactBtn">
    <i class="fa-solid fa-arrow-right" (click)="hideContactBtn()"></i>
    <div class="icons">
        <div class="whatsapp">
            <span class="text">Whatsapp</span>
            <i class="fa-brands fa-whatsapp"></i>
        </div>
        <div class="phone">
            <span class="text">Call US</span>
            <i class="fa-solid fa-phone"></i>
        </div>
    </div>
</button>
<button  class="btn btn-primary" id="moveToTop" (click)="moveToTop()"><i class="fa-solid fa-arrow-up"></i></button>
<section id="footer">
    <app-footer></app-footer>
</section>




