#moveToTop{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    
}
#header{
    margin-bottom: 50px;
}

#call{
    position: fixed;
    bottom: 100px;
    right: 10px;
    border:2px solid green;
    background-color: green;
    border-radius: 50%;
}
#whatsapp{
    position: fixed;
    bottom: 100px;
    left: 10px;
    border:2px solid green;
    background-color: green;
    border-radius: 50%;
}
#moveToTop{
    border:2px solid green;
    background-color: green;
    border-radius: 50%;
}
#moveToTop.show,
#sideBtn.show,
#contactBtn.show{
    display: block;
}

#sideBtn.hide,
#contactBtn.hide{
    display: none;
}
#sideBtn{
    position: fixed;
    top:50%;
    right:0;
    transform:translateY(-50%);
    z-index: 99;
    
}

#contactBtn{
    position: fixed;
    border: 2px solid rosybrown;
    top:50%;
    padding:20px;
    right:0;
    transform:translateY(-50%);
    z-index: 99;
    display: none;
}
.text1,.text2{
    display: none;
} 
.icons .whatsapp:hover .text1{
    display:inline-block; 
    margin-right: 5px;
}
.icons .phone:hover .text2{
    display:inline-block; 
    margin-right: 5px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

