<p>our-services works!</p>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm p-3 service-content">
            <div class="heart"></div>
            <div class="content">
                <img src="../../assets/images/Laundry.png"  class="animation">
                <h2 class="animation"><strong>Laundry</strong></h2>
                <p class="paragraph animation">Our laundry service restores freshness to your clothes, ensuring cleanliness and comfort for everyday wear.</p>
            </div>
      </div>
      <div class="col-sm  p-3 service-content" >
        <div class="content">
            <div class="heart">
                <img src="../../assets/images/Laundry.png" style="transform: rotate(45deg);">
            </div>
            <h2><strong>Dry Cleaning</strong></h2>
            <p class="paragraph">Expert dry cleaning for delicate fabrics and intricate garments, preserving their quality and extending their lifespan.</p>
        </div>
      </div>
      <div class="col-sm  p-3 service-content">
        <div class="content">
            <div class="heart">
                <img src="../../assets/images/Laundry.png" style="transform: rotate(45deg);">
            </div>
            <h2><strong>Steam Ironing</strong></h2>
            <p class="paragraph">Precision steam ironing that leaves your clothes impeccably smooth and wrinkle-free, ready to make a statement.</p>
        </div>
      </div>
      <div class="col-sm  p-3 service-content">
        <div class="content">
            <div class="heart">
                <img src="../../assets/images/Laundry.png" style="transform: rotate(45deg);">
            </div>
            <h2><strong>Sofa Cleaning</strong></h2>
            <p class="paragraph">Revitalize your living spaces with our sofa cleaning, eliminating dust and stains for a cozy and inviting atmosphere.</p>
        </div>
      </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm  p-3 service-content">
            <div class="content">
                <div class="heart">
                    <img src="../../assets/images/Laundry.png" style="transform: rotate(45deg);">
                </div>
                <h2><strong>Carpet Cleaning</strong></h2>
                <p class="paragraph">Deep carpet cleaning that removes dirt and allergens, restoring your carpets to their vibrant and hygienic state.</p>
            </div>
        </div>
        <div class="col-sm  p-3 service-content">
            <div class="content">
                <div class="heart">
                    <img src="../../assets/images/Laundry.png" style="transform: rotate(45deg);">
                </div>
                <h2><strong>Shoe Spa</strong></h2>
                <p class="paragraph">Pamper your footwear with our shoe spa service, restoring their shine and comfort, so you can put your best foot forward</p>
            </div>
        </div>
        <div class="col-sm  p-3 service-content">
            <div class="content">
                <div class="heart">
                    <img src="../../assets/images/Laundry.png" style="transform: rotate(45deg);">
                </div>
                <h2><strong>Tailoring</strong></h2>
                <p class="paragraph">Customized tailoring solutions for a perfect fit, ensuring your clothes reflect your style and personality flawlessly.</p>
            </div>
        </div>
        <div class="col-sm  p-3 service-content">
            <div class="content">
                <div class="heart">
                    <img src="../../assets/images/Laundry.png" style="transform: rotate(45deg);">
                </div>
                <h2><strong>Polishing</strong></h2>
                <p class="paragraph">Enhance the beauty of your accessories and items with our polishing service, bringing back their luster and elegance.</p>
            </div>
        </div>
      </div>    
</div>
