.service-content{
    height:250px;
    width:100%;
    position: relative;

}


.heart{
    width:60px;
    height:60px;
    background-color: skyblue;
    border-radius: 50%;
    position: absolute;
    top:0;
    left:5px;
}
.head{
    text-align: center;
    margin-top: 10px;
}
.head p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 10px;
    font-size:28px;
    color:#222222;
    margin-bottom: 50px;
}
.head h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 10px;
    font-size:23px;
    color:#016FAE;
}
.animation{
    transition: transform 0.8s;
    margin-top:50px;
}
.animation:hover{
    transform: translateX(10px);
}
.content{
    position: relative;
}
.content h2{
    font-size: 23px;
    color:#222222;
}
.content p{
    font-size: 15px;
    color:#222222;
}
.content img{
    margin-top:-80px;
    z-index:1;
}
.background{
    background-image: url('../../assets/images/background2.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height:700px;
    /* opacity: 0.5; */
}
.centered-div{
    position: absolute;
    top:50%;
    left:70%;
    transform: translate(-50%,-50%);
    background-color: #FFFFFF;
    padding: 20px;
    max-width:80%;
    height:90%;
    width:40%;
}
.center-content-mobile{
    display: none;
}

@media (max-width:768px) {
    .centered-div{
        width:100%;
        height: 90%;
        left:50%;
    }
    .center-content{
        display:none;
    }
    .center-content-mobile{
        display: block;
        height:40%;
        font-weight: bolder;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-top: 3px;
    }
}

.center-content{
   position: relative;
   width:50%;
   height:40%;
   font-weight: bolder;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   padding-top: 3px;
}


.container{
    padding-bottom: 10px;
}
.service-footer{
    height:200px;
    background-color: darkgrey;
    margin-top: 60px;
    left:0;
}
.container-fluid{
    width: 100%;
}

.call-button{
    border-color: #1379928F;
    background-color: #1379928F;
    left:0;
}