
<div class="container-fluid">
    <div class="row head">
        <h2>Explore Service</h2>.
        <p>Services That make you to say wow.</p>
    </div>
    <div class="row">
      <div class="col-sm p-3 service-content">
            <div class="heart"></div>
            <div class="content animation">
                <img src="../../assets/images/Laundry.png" alt="service">
                <h2 ><strong>Laundry</strong></h2>
                <p class="paragraph">Our laundry service restores freshness to your clothes, ensuring cleanliness and comfort for everyday wear.</p>
            </div>
      </div>
      <div class="col-sm p-3 service-content">
        <div class="heart"></div>
        <div class="content animation">
            <img src="../../assets/images/Laundry.png" alt="service">
            <h2 ><strong>Laundry</strong></h2>
            <p class="paragraph">Our laundry service restores freshness to your clothes, ensuring cleanliness and comfort for everyday wear.</p>
        </div>
      </div>
      <div class="col-sm p-3 service-content">
        <div class="heart"></div>
        <div class="content animation">
            <img src="../../assets/images/Laundry.png" alt="service">
            <h2 ><strong>Laundry</strong></h2>
            <p class="paragraph">Our laundry service restores freshness to your clothes, ensuring cleanliness and comfort for everyday wear.</p>
        </div>
      </div>
      <div class="col-sm p-3 service-content">
        <div class="heart"></div>
        <div class="content animation">
            <img src="../../assets/images/Laundry.png" alt="service">
            <h2 ><strong>Laundry</strong></h2>
            <p class="paragraph">Our laundry service restores freshness to your clothes, ensuring cleanliness and comfort for everyday wear.</p>
        </div>
       </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm p-3 service-content">
            <div class="heart"></div>
            <div class="content animation">
                <img src="../../assets/images/Laundry.png" alt="service">
                <h2 ><strong>Laundry</strong></h2>
                <p class="paragraph">Our laundry service restores freshness to your clothes, ensuring cleanliness and comfort for everyday wear.</p>
            </div>
      </div>
      <div class="col-sm p-3 service-content">
        <div class="heart"></div>
        <div class="content animation">
            <img src="../../assets/images/Laundry.png" alt="service">
            <h2 ><strong>Laundry</strong></h2>
            <p class="paragraph">Our laundry service restores freshness to your clothes, ensuring cleanliness and comfort for everyday wear.</p>
        </div>
  </div>
  <div class="col-sm p-3 service-content">
    <div class="heart"></div>
    <div class="content animation">
        <img src="../../assets/images/Laundry.png" alt="service">
        <h2 ><strong>Laundry</strong></h2>
        <p class="paragraph">Our laundry service restores freshness to your clothes, ensuring cleanliness and comfort for everyday wear.</p>
    </div>
</div>
<div class="col-sm p-3 service-content">
    <div class="heart"></div>
    <div class="content animation">
        <img src="../../assets/images/Laundry.png" alt="service">
        <h2 ><strong>Laundry</strong></h2>
        <p class="paragraph">Our laundry service restores freshness to your clothes, ensuring cleanliness and comfort for everyday wear.</p>
    </div>
</div>   
</div>
<div class="contanier-fluid p-0">
    <div class="background">
        <div class="centered-div">
            <h2>Why Choose GrenoCleaners</h2>
            <h2>Home Delivery The Best Laundry Service</h2>
            <p>Soumya Laundry provides on-demand laundry, Ironing, and the best dry cleaning services in Delhi NCR. Our Pickup pilots will pick up your dirty laundry from your home, offices, and whenever is convenient for you and deliver freshly washed within 48 hours.</p>
        </div>
    </div>
</div>
