.row{
    height: 600px;
}
.about-us{
    font-size: 20px;
    
}
.about-us:hover{
    cursor: pointer;
}
.btn.dropdown-toggle{
    width: 100%;
}

.about-us-footer{
    margin-top: 200px;
}

.image{
    background-image: url('../../assets/images/back.jpg');
    background-position: center;
    background-size: cover;
}
.heart{
    width:50px;
    height:50px;
    background-color: skyblue;
    border-radius: 50%;
    position: absolute;
}
.contact-details{
    margin-top: 50px;
    padding-bottom: 0px;
}

.content-phone,
.content-email{
    margin-left:30px;
    margin-bottom: 60px;
    padding-top: 25px;
    transition: transform 0.8s;
}
.content-phone:hover,
.content-email:hover{
    transform: translateX(10px);
}

.contact-details .fa-phone,.contact-details .fa-envelope{
    position: absolute;
}

.content-phone{
    padding-top: 25px;
}
.outlet{
    display: none;
    font-size: 20px;
}
.mobile-image{
    display: none;
    background-image: url('../../assets/images/back.jpg');
    background-position: center;
    background-size: cover;
}
.outlet-head h2{
    font-size: 30px;
    
}

@media (max-width:768px) {
    .map{
        display:none;
    }
    .about-us-footer{
        margin-top: 850px;
    }
    .image{
        display:none;
    }
    .mobile-image,.outlet{
        display: block;
    }
    .outlet-head h2{
        font-size: 30px;
        
    }
}

